:root {
  --color-primary-blue: #2563eb;
  --color-primary-purple: #9333ea;
  --color-success: #16a34a;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
  --color-success-border: #afeec6;
  --color-danger-border: #e46e6e;

  --color-border: #e2e8f0;
  --color-bg-white: #ffffff;
  --color-text-main: #2d3748;
  --color-text-muted: #6b7280;

  --color-palette:blue;
  --background-color: #dee4ef;
  --color-navbar: #badcfd;
}

.custom-select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-white);
  font-size: 16px;
  color: var(--color-text-main);
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-select:focus {
  border-color: var(--color-primary-blue);
  box-shadow: 0 0 0 1px var(--color-primary-blue);
}

.cardBox {
  background-color: var(--color-bg-white);
  border-radius: 16px;
  border: 1px solid var(--color-border);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
}

.customButton {
  background-color: var(--color-primary-blue);
  color: var(--color-bg-white);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}